* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

body {
  font-family: "Open Sans", Helvetica, Arial, "Hiragino Sans", sans-serif;
  font-size: 14px;
  line-height: 28px;

  color: #333;
  background-color: lightgray;
}

.wrapper {
  max-width: 1200px;
  width: 1200px;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 8px;
  padding-right: 8px;
}
